<div class="detail clearfix">
    <div class="detail-box clearfix">
        <div class="detail-img">
            <img class="detail-img-one" ng-src="{{data.images.large}}" alt="">
        </div>
        <div class="detail-comment">
            <h2>{{data.title}}</h2>
            <p><strong>导演：</strong><span ng-repeat="item in data.directors">{{item.name}}、</span></p>
            <p><strong>主演：</strong><span ng-repeat="item in data.casts">{{item.name}}、</span></p>
            <p><strong>类型：</strong>{{data.genres.join('、')}}</p>
            <p><strong>国家：</strong>{{data.countries.join('、')}}</p>
            <p><strong>评分：</strong>{{data.rating.average}}</p>
            <p><strong>时间：</strong>{{data.year}}</p>
        </div>
    </div>
</div>
<div class="detail-placeholder"></div>
<div class="detail-outline">
    <div>剧情介绍</div>
</div>
<div class="detail-details">
    {{data.summary}}
</div>
<div class="loading-relative" ng-if="showF"></div>
<div class="loading-fix" ng-if="showF">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>